.top-div-entrada{
	display: flex;
}
.banner{
	width: 65%;	
	margin: 0.5em 0em 0.5em 0.5em;
}
.banner img{		
	width: 100%;
}
.descricao-box-entrada{
	background-color: #087a8a;
	width: 35%;
	margin: 0.5em 0.5em 0.5em 0.5em;
}
.descricao-box-texto-entrada{
	margin: 1em 1em 1em 1em;
	text-align: justify;
	color: white;
}

@media (max-width: 1200px){
	.top-div-entrada{
		flex-wrap: wrap;
	}
	.banner{
		width: 100%;
		margin: 0.5em 0.5em 0.5em 0.5em;
	}
	.descricao-box-entrada{
		width: 100%;
	}
}

.top-div-informativa{
	display: flex;		
}
.banner-informativa{	    
	width: 50%;
	background-color: #929396;
	margin: 0.25em 0.5em 0.5em 0.5em;
}
.banner-informativa img{
	width: 100%;
}
.descricao-box-texto-informativa{	
	margin: 0em 1em 1em 1em;	
	text-align: justify;
	color: white
}
@media (max-width: 991px){
	.top-div-informativa{
		flex-wrap: wrap;
	}
	.banner-informativa{
		width: 100%;
		margin: 0.5em 0.5em 0.5em 0.5em;			
		justify-content: center;
	}
	.descricao-box-informativa{
		width: 100%;
	}			
}